.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: clamp(111px, 20vw, 223px);
    overflow: hidden;
    border-radius: 25px;

    @media (max-width: 768px) {
        text-align: left;
        justify-content: start;
        padding-left: 3rem;
    }

    span {
        position: relative;
        z-index: 1;
        margin: 0;
        color: white;
        font-weight: 700;
        font-size: clamp(18px, 4vw, 48px);
    }
}